<h1>Welcome to Poorsmatic!</h1>

<p>Poorsmatic, a "poor man's Prismatic", is a truly awful content discovery service that merely returns URL's from Twitter that contain at least one occurrence of the search term used to find the tweets containing the URL's in the first place.</p>

<p>Got that? Don't worry. It doesn't matter.</p>
